<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container border w-75">
      <div class="row">
        <div class="col p-3 header"><%= link_to "Articles", root_path %></div>
        <div class="col p-3 text-right header"><%= link_to "New Article", new_article_path %></div>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
